[project]
name = "conda-metadata-app"
version = "0.1.0"
description = "A streamlit app to query metadata from conda packages"
authors = ["jaimergp <jaimergp@users.noreply.github.com>"]
channels = ["conda-forge"]
platforms = ["linux-64", "win-64", "osx-arm64", "osx-64", "linux-aarch64"]

[tasks]
dev = "python -m streamlit run --server.runOnSave=true app.py"
deploy = "python -m streamlit run --server.headless=true --global.developmentMode=false app.py"
schema = "python -m conda_metadata_app.app_config"
save-version-info = "python -m conda_metadata_app.version_info"
postinstall-production = "pip install --no-deps --disable-pip-version-check dist/conda_metadata_app-*.whl"


[dependencies]
python = "3.12.*"
pydantic-settings = ">=2.4.0,<3"
pydantic = ">=2.8.2,<3"
typing-extensions = ">=4.12.2,<5"
zstandard = ">=0.23.0,<0.24"
py-rattler = ">=0.7.0,<0.8"
conda-forge-metadata = ">=0.11.0,<0.12"
conda-package-streaming = ">=0.12.0,<0.13"
conda-oci-mirror = ">=0.2.3,<0.3"
streamlit = ">=1.44.0,<2"
streamlit-searchbox = "==0.1.20"

[host-dependencies]
pip = "*"

[feature.build.dependencies]
python-build = "*"
hatchling = "*"
[feature.build.tasks]
postinstall = "pip install --no-build-isolation --no-deps --disable-pip-version-check -e ."
build-wheel = "python -m build --no-isolation --wheel ."

[feature.dev.dependencies]
pixi-pycharm = ">=0.0.6,<0.0.7"

[environments]
default = []    # includes default feature
build = ["build"]
dev = { features = ["dev"], no-default-feature = true }
