conda-forge-metadata==0.10.0
git+https://github.com/channel-mirrors/conda-oci-mirror.git@25ea3e436f0b0bc5a9c646121efafc9c68e116cd # v0.1.0
streamlit==1.38.0
streamlit-searchbox==0.1.16
pydantic-settings==2.5.2
pydantic==2.9.2
typing-extensions==4.12.2
zstandard==0.23.0
py-rattler==0.7.0
setuptools
