# please sync the dependencies with pyproject.toml and pixi.toml
pydantic-settings==2.10.1
pydantic==2.11.9
typing-extensions==4.15.0
zstandard==0.23.0
py-rattler==0.7.2
conda-forge-metadata==0.11.0
conda-package-streaming==0.12.0
conda-oci-mirror==0.2.3
streamlit==1.49.1
streamlit-searchbox==0.1.19
